*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover{
    font-weight: bold;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

/* NAV */
.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#674582;
    height: 15vh;
    width: 100%;
}

.navegacao-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.nav-img{
    max-width: 200px;
    width:100%;
    padding: 1.5rem;
    margin-left: .8rem;
}

#menu-responsivo{
    display: none;
}

#menu-hamb{
    display: block;
}

.menu-hamburguer{
    position: relative;
    cursor: pointer;
}

.img-hamb{
    width: 100%;
    min-width: 30px;
}

.nav-lista-responsivo{
    display: none;
    position: absolute;
    width: 120px;
    height: 60px;
    padding: .5rem;
    top: 30px;
    right: 0;
    color: rgb(0, 0, 0);
    background: #e2d6e7ab;
}

.lista2{
    margin-top: .4rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
}

.menu-hamburguer:hover .nav-lista-responsivo{
    display: block;
}

.navegacao-itens{
    align-items: center;
}

.nav-lista{
    display: flex;
    list-style: none;
    color: #fff;
    font-size: 1rem;
}

.nav-item{
    margin-left: 1.2rem;
    font-size:.9rem;
}

.nav-img-redes{
    margin-left: 3.2rem;
}

.img-redes{
    max-width: 35px;
    width: 100%;
    margin-left: 1rem;
}


/* HEADER */
.cabecalho{
    background: url(/personalidade/lina-bo-bardi/img/lina2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.cab-titulo{
    color:#fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 1px 2px 2px #63458A;
}


/* MAIN */
.artigo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem;
    width: 100%;
    margin: auto;
    text-align: justify;
}

.titulo-artigo{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #63458A;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
}

.imagem-artigo{
    max-width: 120px;
    width: 100%;
    border-radius: 2%;
}

.p-artigo{
    margin-top: 2rem;
    color: #63458A;
}

.citacao{
    border: 0.5px solid #63458A;
    padding: 1.2rem;
    margin: 3rem;
    font-size: 1.2rem;
    text-align: center;
    color: #63458A;
    font-weight: bold;
}

.titulo-hist{
    color: #63458A;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    text-align: left;
    margin: 3rem 3rem 0.2rem 3rem;
}

.paragrafo-hist{
    margin:0 3rem;
    margin-bottom: 1rem;
    display: flex;
    text-align: justify;
    color: #63458A;
}

.paragrafo-hist2{
    margin:0 3rem;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: justify;
    color: #63458A;

}

.img-hist{
    display: block;
    min-width: 200px;
    width: 100%;
    align-items: center;
    height: auto;
    padding: 0.5rem 3rem 1.5rem;
}

.bold{
    font-weight: bold;
}

.autora{
    display: flex;
    background-color: #E4B7E5;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.img-autora{
    display: flex;
    max-width: 93px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.lista-autora{
    list-style: none;
    justify-content: left;
    font-weight: bold;
    color: #63458A;
}

.botao{
    display: flex;
    background-color: #C083B9;
    border-radius: 2%;
    height: 6vh;
    color: #fff;
    font-weight: bold;
    max-width: 180px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 1rem 3rem;
}


/* FOOTER */
.redes-footer{
    display: flex;
    background-color: #323534;
    height: 28vh;
    color: #F3F3F3;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.lista-footer{
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    margin-bottom: 2rem;
}

.img-footer{
    max-width: 130px;
    width: 100%;
    margin: 0 2rem;
}

.facebook-footer{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.icone-facebook{
    max-width: 10px;
    width: 100%;
}

.texto-footer{
    display: flex;
    background-color: #292A2A;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.p-footer{
    display: inline-block;
    color: #fff;
    font-size: .9rem;
    text-align: center;
}


/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
    html{
        font-size: 12px;
    }
    
    #menu-responsivo{
        display: flex;
    }
    
    #menu-hamb{
        display: none;
    }

    .cabecalho{
        height: 40vh;
        background-position: 0 10%;
    }

    .titulo-artigo{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .artigo{
        display: flex;
        flex-wrap: nowrap;
        max-width: 480px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .imagem-artigo{
        max-width: 150px;
        width: 100%;
    }

    .p-artigo{
        padding: 0 3rem;
        margin-top: 0;
        margin-left: 2rem;
    }

    .citacao{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .hist{
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-hist{
        font-size: 1.3rem;
    }

    .img-hist{
        margin: 1rem 0;
        padding-bottom: .5rem;
    }

    .autora{
        height: 20vh;
    }

    .img-autora{
        max-width: 123px;
        width: 100%;
        height: 20vh;
    }

    .lista2{
        margin-bottom: .3rem;
    }

    .botao{
        font-size: 1.1rem;
        align-items: center;
        max-width: 200px;      
    }

    .redes-footer{
        height: 18vh;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .lista-footer{
        margin-bottom: 0;
    }

    .img-footer{
        max-width: 170px;
        width: 100%;
        margin: 0 7rem;
    }

    .facebook-footer{
        margin-top: 1rem;
    }

}

@media (min-width: 1024px){
    html{
        font-size: 15px;
    }

    .nav-img{
        max-width: 300px;
        width: 100%;
    }

    .img-redes{
        max-width: 42px;
        width: 100%;
    }

    .imagem-artigo{
        max-width: 190px;
        width: 100%;
    }

    .artigo{
        max-width: 700px;
    }

    .citacao{
        max-width: 700px;
    }

    .hist{
        max-width: 800px;
    }

    .img-autora{
        max-width: 163px;
        width: 100%;
        height: 20vh;
    }

    .botao{
        font-size: 1.5rem;
        max-width: 300px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .redes-footer{
        height: 16vh;
    }

}

/* DESKTOP */
@media (min-width: 1440px){
    html{
        font-size: 20px;
    }

    .artigo{
        max-width: 800px;
    }

    .citacao{
        max-width: 800px;
    }

    .hist{
        max-width: 900px;
    }

    .img-autora{
        max-width: 220px;
        width: 100%;
        height: 20vh;
    }

    .botao{
        font-size: 1.2rem;
        max-width: 350px;
        justify-content: center;
    }

    .img-footer{
        max-width: 250px;
        width: 100%;
    }
}