/* MOBILE FIRST - IPHONE 7 */

* {
    box-sizing: border-box;
    margin: 0%;
}

html {
    font-size: 1rem;
}

body {
    margin: 0%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
} 

a, ul, li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}
a:hover{
    font-weight: bold;
}

.container {
    width: 100%;
    min-width: 280px;
}
.conteudo {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

/* BARRA DE NAVEGAÇÃO*/
.navegacao {
    display: flex;
    background-color: #674582;
    width: 100%;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 6px;
    padding-right: 14%;
    padding-left: 14%;
}
.logo__nav {
    max-width: 8rem;
}
.menu__nav{
    height: 1.5rem;
}
.conteudo__nav {
    display: none;
}

/* BANNER CONTAINER */
.banner {
    background-image: url(../img/bg-banner-claro.png);
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.banner__titulo {
    font-size: 3rem;
    color: white;
    width: 100%;

}


/* APRESENTAÇÃO */
h2 {
    color: #674582;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
    padding: 1rem;
}
.apresentacao{
    align-items: center;
    width: 100%;
    color: #674582;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img__apresentacao{
    width: 13.5rem;
    border-radius: 5%;   
}
.txt__apresentacao{
    text-align: justify;
    padding-bottom: 1rem;
}

/* CITAÇÃO */
.citacao {
    color: #674582;
    font-size: 1.5rem;
    font-weight: bold; 
    text-align: center;
    line-height: 2.938rem;
    border: solid #674582;
    border-width: 0.1rem;
    border-radius: 5px;
    padding: 2rem;
}

/* RESUMO */
.resumo{
    color: #674582;
    padding-top: 2rem;
}
.resumo__titulo {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    padding-top: 2rem;
}
.resumo__img {
    width: 100%;
    height: 25rem;
    image-rendering: auto;
    padding-top: 1rem;
}
.resumo__p3 {
    padding-bottom: 2.5rem;
}
p {
    padding-top: 1rem;
}


/* AUTORA */
.autora {
    background-color: #E4B7E5;
    margin: 0%;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img__autora{
    height: 15rem;

}
.txt__autora {
    color: #63458A;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2rem;
    text-align: left;
}

/*BOTÃO*/
.botao{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
button {
    color: white;
    height: 4rem;
    width: 14rem;
    background-color: #c083b9;
    font-size: 1.4rem;
    text-decoration: bold;
    border-radius: 10px;
    border-color: #c083b9;
    font-weight: bold;
}




.links {
    background-color: #323534;
    display: flex;
    height: 10rem;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.rodape{
    background-color: #292a2a;
    text-align: center;
    color: white;
    height: 3rem;
    padding: 0.9rem;
    padding-top: 0;
    padding-right: 0%;
    font-size: 0.6rem;
}

@media (min-width: 700px){
    .conteudo{
        padding-left: 14%;
        padding-right: 14%;
    }

    .apresentacao{
        flex-direction: row;
        padding-bottom: 2rem;
    }
    .txt__apresentacao{
        padding-left: 2rem;
    }
    .autora{
        flex-direction: row;
    }

    .links {
        flex-direction: row;
        justify-content: space-around;
    }

}

@media (min-width: 1024px) {
    .navegacao{
        padding-right: 14%;
    }
    .menu__nav{
        display: none;
    }
    .lista__nav{
        margin-right: 0.9rem;
    }
    .conteudo__nav {
        display: flex;
        justify-content: center;
        align-items: center;

    }

}