*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html, body{
    height: 100vh;
    width: 100vw;
}

.root{
    font-size:46%
}


/* nav */

nav{
    height: 133px;
    margin: 0;
    padding: 0;
    background: #674582;
}

.logo-1, .menu{
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo-1{
    height: 40%;
    top: 20px;
    margin-left: 80px;
}

.menu{
    width: 48%;
   display: flex;
   flex-direction: row;
   margin-left: 80px;
   margin-top: 50px;
}

.home, .reprograma{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 0.6rem;
    text-decoration: none;
    text-transform: uppercase;
}


.reprograma > p{ 
    margin-left: 24px;
    white-space: nowrap;  
}


.icones{
    width: 40%;
    height: 20%;
    padding-top: 6%;
    padding-left: 94%;
    
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.icones-topo img{
    width: 14.26px;
    height: 14px;
    margin: 2px;
    display: none;
}

@media screen and (min-width: 401px){

    
.logo-1{

    margin-left: 100px;
}

.menu{
   margin-left: 100px;
}

}

@media screen and (min-width: 700px){

    nav{
        display: flex;
        flex-direction: row;
    }
    
    .logo-1{
        height: 40%;
        margin: 3% 0 0 6%;

    }

    .menu{
        width: 20%;
        padding: 2% 0;
        margin-left: 6%;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .reprograma, .home{
        font-size: 0.8rem;
    }

    .reprograma > p{ 
        white-space: nowrap;  
    }

    .icones{
        width: 30%;
        height: 20%;
        margin-left: 18%;
        padding: 10% 0;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .icones-topo img{
        width: 24px;
        height: 24px;
        margin: 6px;
        display: unset;
    }


}

@media screen and (min-width: 700px){

    nav{
        display: flex;
        flex-direction: row;
    }
    
    .logo-1{
        height: 40%;
        margin: 3% 0 0 6%;

    }

    .menu{
        width: 20%;
        padding: 2% 0;
        margin-left: 6%;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .reprograma, .home{
        font-size: 0.8rem;
    }

    .reprograma > p{ 
        white-space: nowrap;  
    }

    .icones{
        width: 30%;
        height: 20%;
        margin-left: 18%;
        padding: 10% 0;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .icones-topo img{
        width: 24px;
        height: 24px;
        margin: 6px;
        display: unset;
    }


}
@media screen and (min-width: 700px){

    nav{
        display: flex;
        flex-direction: row;
    }
    
    .logo-1{
        height: 40%;
        margin: 3% 0 0 6%;

    }

    .menu{
        width: 20%;
        padding: 2% 0;
        margin-left: 6%;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .reprograma, .home{
        font-size: 0.8rem;
    }

    .reprograma > p{ 
        white-space: nowrap;  
    }

    .icones{
        width: 30%;
        height: 20%;
        margin-left: 18%;
        padding: 10% 0;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .icones-topo img{
        width: 24px;
        height: 24px;
        margin: 6px;
        display: unset;
    }


}

@media screen and (min-width: 1024px){

    nav{
        display: flex;
        flex-direction: row;
    }
    
    .logo-1{
        height: 40%;
        margin: 3% 0 0 9%;

    }

    .menu{
        width: 20%;
        padding: 2% 0;
        margin-left: 6%;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .reprograma, .home{
        font-size: 0.8rem;
    }

    .reprograma > p{ 
        white-space: nowrap;  
    }

    .icones{
        margin-left: 18%;
        padding: 4% 0;

        display: flex;
        flex-direction: row;
    }

    .icones-topo img{
        width: 44px;
        height: 44px;
        margin: 6px;
        display: unset;
    }


}



