/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #674582;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    }
  
  ul {
    padding: 0;
    display: flex;
  }
  
  li {
    list-style: none;
    margin: 5px;
  }
  
  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 100%;
  }
  
  
  /* --- NAV --- */
  .navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    justify-content: space-around;
  }
  
  .navegacao__logo {
  max-width: 200px;
  }
  
  .navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  
  .navegacao__itens {
  position: absolute;
  right: -700px;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
  }
  
  .navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
  }
  
  .navegacao__itens li > a {
  transition: all .2s;
  }
  
  .navegacao__itens li > a:hover {
  color: #C083B9;
  }
  
  .navegacao__menu-hamburguer img {
  background-color: #C083B9;
  border-radius: 5px;
  }
  
  .navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
  }
  
  .navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
  }
  
  .navegacao__redes-sociais a {
  margin: 0 1rem;
  }
  
  
  /* --- HEADER --- */
  .header {
  min-height: 80vh;
  height: 400px;
  width: 100%;
  background: linear-gradient(rgba(255, 0, 255, 0.2),
          rgba(255, 0, 255, 0.2)),
      url(../img/bg-banner-claro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  text-align: left;
  color: white;
  }
  
  .principal__titulo {
  font-size: 3.5rem;
  font-weight: bolder;
  }


  /*------ AUTORA ------*/
.sobre__container {
    font-size: 1.5rem;
    margin: 20px;
  }
  
  .autora {
    text-align: center;
  }
  
  .autora__perfil {
    width: 20rem;
    height: 20rem;
  }
  
  .autora__titulo {
    text-align: center;
    font-weight: bolder;
  }
  
  .autora__paragrafo {
    text-align: justify;
  }

  .autora__link {
    text-align: justify;
    font-weight: bolder;
  }
  

  /*------ DIVISÃO ------*/
  
  .divisao__linha {
      display: flex;
      justify-content: center;
      font-weight: bolder;
      margin: 70px;
  }
  


  
  /* --- BOTAO --- */
  .btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    text-align: center;
    margin: 20px;
  }
  
  .btn_roxo {
    color: white;
    background-color: #C083B9;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
  }
  
  .btn_roxo:hover,
  .btn_roxo:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    background-color: rgb(192, 156, 188);
  }
  
  .btn_roxo:active {
    transform: translateY(-.5rem);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  }
  
  
  
  /* --- FOOTER --- */
  .rodape {
  background-color: #323534;
  color: white;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .8rem;
  }
  
  .rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
  }
  
  .rodape__principal > * {
  margin: 1rem 0;
  }
  
  .rodape__navegacao > li {
  font-size: 1.1rem;
  margin: 1rem;
  }
  
  .rodape__navegacao a {
  transition: all .5s;
  }
  
  .rodape__navegacao a:hover {
  color: #C083B9;
  }
  
  .rodape__logo {
  max-width: 200px;
  }
  
  .rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  }
  
  .rodape__redes-sociais a:hover {
  color: #C083B9;
  }
  
  .rodape__redes-sociais img {
  max-width: 10px;
  margin-right: .5rem;
  }
  
  .rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
  }
  
  .rodape__cc {
  width: 100%;
  background-color: #292A2A;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  }
  
  
  /*** MEDIA QUERIES ***/
  /* TABLET */
  @media (min-width: 768px) {
      /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }
  
    .navegacao__nav {
        margin-bottom: 0;
    }
    
    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }
  
    .navegacao__redes-sociais {
      display: flex;
    }
    
    .navegacao__itens li {
        font-size: 1.2rem;
        margin: 0 .6rem;
    }
    
    .navegacao__menu-hamburguer {
        display: none;
    }
  
    /* --- HEADER --- */
    .header {
        min-height: 75vh;
        padding: 5rem 10rem;
    }
  
    .principal__titulo {
        font-size: 2.9rem;
        font-weight: bolder;
    }
    
    .principal__btn {
      margin: 0;
    }
  
   /*------ AUTORA ------*/
   .sobre__container {
    font-size: 1.5rem;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
   }
  
   .autora {
    display: flex;
    justify-content: center;
   }
  
   .autora__perfil {
    height: 20rem;
   }
  
   .autora__paragrafo {
    margin-left: 30px;
   }

  
  
    /* --- FOOTER --- */
    .rodape {
        padding-top: 0;
    }
  
    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
  
    .rodape__logo img {
        max-width: 250px;
    }
  
    .rodape__navegacao > li {
        font-size: 1.5rem;;
    }
  }
  
  
  @media (min-width: 1024px) {
   .principal {
      max-width: 650px;
   }
  }
  
  /* DESKTOP */
  @media (min-width: 1000px) {
   .navegacao__box {
      max-width: 80%;
   }
   .header {
      min-height: 90vh;
   }
   .navegacao__itens li {
      font-size: 1.5rem;
      margin: 0 1rem;
   }
   .principal {
      max-width: 650px;
   }
  

   /*------ AUTORA ------*/
   .sobre__container {
    margin-left: 300px;
    margin-right: 300px;
   }
  
   .autora {
    margin-top: 20px;
   }
  
  

  }
  
  