.menu {
    width: 100%;
    height: 133px;
    background-color: #674582;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo {
    position: absolute;
    margin-left: 360px;
    margin-top: 32px;
    max-width: 200px;
}

ul.nav__lista {
    display: flex; 
    padding: 2%;
}

ul.nav__lista li{
    list-style: none;
}

.img-banner {
    min-height: 80vh;
    height: 133px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: white;
}

.titulo-principal {
    
}