/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- BOTAO --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.8rem;
}
.btn_roxo {
    color: white;
    background-color: #C083B9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
    margin: 0 auto;
  }
  
  .btn_roxo:hover,
  .btn_roxo:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    background-color: rgb(192, 156, 188);
  }
  
  .btn_roxo:active {
    transform: translateY(-.5rem);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
  }
  
  .btn_center {
    margin: 0 auto;
  }
  /* --- NAV --- */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    justify-content: space-around;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.navegacao__itens {
  position: absolute;
  right: -700px;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
}

.navegacao__itens li > a {
  transition: all .2s;
}

.navegacao__itens li > a:hover {
  color: #C083B9;
}

.navegacao__menu-hamburguer img {
  background-color: #C083B9;
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}


/* --- HEADER --- */
.header {
    min-height: 80vh;
    height: 500px;
    background: linear-gradient(rgba(255, 0, 255, 0.2),
                                rgba(255, 0, 255, 0.2)),
                url(../img/bg-banner-claro.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: white;
    @media (min-width: 3600px) and (max-width: 340px) 

    }

     }

     /*    padding: 11rem 2rem 5rem 2rem;*/
}


.principal__titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.maravilhosas__titulo{
  text-align: center;
  color: #762bb3;
  font: 36px arial, helvetica, sans-serif;
  margin: 45px;
}

.text_persona{
  color: #674582;
  font: 15px Arial,Helvetica,sans-serif;
  margin: 0px 30px 0px 0px;
  padding: 0px 0px 0px 30px
}



/* Rede 1 | Rede 2 | Rede 3 */

.link_ligacao{

width: 372px;
height: 34px;
left: 840px;
top: 1177px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 40px;
text-align: 15%;
color: #63458A;
}

.linha{
  font-weight: bold;
  color: #63458A;
  text-align: left;

}

.blockquote-citacao{
border: 5px solid #000
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.principal__sub {
  font-weight: 300;
  margin: 2rem 0 3rem 0;
  font-size: 1.5rem;
}

div.ada_quote{
  font-weight: 800;
  margin: 20px 154.125px 20px 154.109px
  padding: 10px
}

.card-block{
 margin-left: 30px;
 text-align: left;
}

.citacao{
 font: 140% sans-serif;
  width: 493px;
  margin:auto;
  padding: 1em;
  border: 1px solid #674582;
  color: #674582;
  text-align: center;
}

.sua_historia{
  font: 140% sans-serif;
  width: 493px;
  margin:auto;
  padding: 1em;
  color: #674582;
  text-align: center;
}

 /* img-mulher */
.maravilhosas__perfil{
 
}


/*Estilo área autora*/

.autora {
    margin: 6rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .perfil_autora {
    height: 25%;
    width: 100%;
    background:#e487e5; 
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .foto_autora {
    width: 11%;
  }
  
.turma_reprograma{
  justify-content: center;

}
   
  ul {
    list-style: none;
    color: #674582;
    font-weight: bold;
    margin: auto 0 auto 4rem;
  }
  
  li {
       font-size: 1rem; 
  }
  
  button {
    width: 20%;
    align-self: center;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #C083B9;  
    border: none;
    outline: none;
  }
  
  #texto_button{
    font-size: 1.6rem;
    color: #674582;
  }
  
  
  
  /* --- SECTION MARAVILHOSAS --- */
  .maravilhosas__titulo {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    color: #63458a;
    font-size: 2rem;
    text-align: center;
  }
  
  .maravilhosas__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: #63458a;
  }
  .perfeitas{
    display: flex;
    justify-content: space-between;
   
  }
  
  .maravilhosas__perfil {
    max-width: 120px;
    margin: 2rem;
    width: 160px;
  }
  
  .maravilhosas__perfil img {
    background-color: #63458a;
    border-radius: 10px;
    width: 160px;
  }
  
  .maravilhosas__perfil a img {
    transition: all .5s;
  }
  
  
  .maravilhosas__perfil a:hover {
    text-decoration: underline;
  }
  
  .maravilhosas__perfil a:hover img {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
  }
  
  /* --- FOOTER --- */
  .rodape {
    background-color: #323534;
    color: white;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .8rem;
  }
  
  .rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
  }
  
  .rodape__principal > * {
    margin: 1rem 0;
  }
  
  .rodape__navegacao > li {
    font-size: 1.1rem;
    margin: 1rem;
  }
  
  .rodape__navegacao a {
    transition: all .5s;
  }
  
  .rodape__navegacao a:hover {
    color: #C083B9;
  }
  
  .rodape__logo {
    max-width: 200px;
  }
  
  .rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
  }
  
  .rodape__redes-sociais a:hover {
    color: #C083B9;
  }
  
  .rodape__redes-sociais img {
    max-width: 10px;
    margin-right: .5rem;
  }
  
  .rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
  }
  
  .rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
  }

/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }

    .navegacao__nav {
        margin-bottom: 0;
    }
    
    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navegacao__itens li {
        font-size: 1.2rem;
        margin: 0 .6rem;
    }
    
    .navegacao__menu-hamburguer {
        display: none;
    }

    /* --- HEADER --- */
    .header {
        min-height: 75vh;
        text-align: left;
        padding: 5rem 10rem;
    }

    .principal__titulo {
        font-size: 2.9rem;
        text-align: center;
    }
    
    .principal__sub {
        font-size: 1.8rem;
    }

    .principal__btn {
        margin: 0;
    }

    /* --- SECTION MARAVILHOSAS --- */
    .maravilhosas {
        padding: 4rem 0;
    }

    .maravilhosas__box > div {
        max-width: 200px;
        margin: 5rem;
    }

    .maravilhosas__perfil p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    /* --- FOOTER --- */
    .rodape {
        padding-top: 0;
    }

    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .rodape__logo img {
        max-width: 250px;
    }

    .rodape__navegacao > li {
        font-size: 1.5rem;;
    }
    /** PERSONALIDADE **/
    /* --- OUTRA HEADER --- */
    .header-personalidade {
        padding: 0 20rem;
        display: flex;
        
        align-items: flex-end;
    }

    .header-personalidade__titulo {
        font-size: 3.5rem;
        text-align: center;
    }
}

@media (min-width: 1024px) {
  .principal {
      max-width: 650px;
  }
}
/* DESKTOP */


.header {
    min-height: 90vh;
}
.navegacao__itens li {
    font-size: 1.5rem;
    margin: 0 1rem;
}
.principal {
    max-width: 650px;
}

/* condição até 600px */
@media (max-width: 600px) { 
  .nome-da-classe {
    color: #fff; /* elemento que vai ser modificado/adicionado/sobrescrito nessa resolução */
  }
}

/* condição a partir de 900px */
@media (min-width: 900px) { 
  .nome-da-classe {
    color: #fff; /* elemento que vai ser modificado/adicionado/sobrescrito nessa resolução */
  }
}

/* condição a partir de 600px até 900px */
@media (min-width: 3600px) and (max-width: 340px) { 
  .nome-da-classe {
    color: #fff; /* elemento que vai ser modificado/adicionado/sobrescrito nessa resolução */
  }
}